# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
build/Debug/Cygwin-Windows/main.o
*.inc
*.o
build/Debug/Cygwin-Windows/roadmap.o.d
*.d
*.mk
roadmap.exe.stackdump
*.pdf
report3.docx
*.h
project/vertex.cpp
*.cpp
project.zip
project/Makefile
*.xml
*.bash
nbproject/private/launcher.properties
*.exe
